from typing import Any

from app.owen_drivers.owen_ci8 import OwenCI8
from app.owen_drivers.modbus_pvt110 import ModbusPVT110

# Настойки подключения порта
serial_settings: dict[str, Any] = {
    'port': '/dev/ttyUSB0',
    'baudrate': 9600,
    'bytesize': 8,
    'parity': 'N',
    'stopbits': 1,
    'timeout': 0.2
}

# Настройки приборов на чтение
sensors_settings: list[dict[str, Any]] = [
    {
        # Пример настройки для прибора СИ8
        'name': 'dev1_ci8',
        'driver': OwenCI8,
        'addr': 2,
        'addr_len': 8,
        'parameter': OwenCI8.DCNT
    },
    {
        # Пример настройки прибора для ПВТ-110
        'name': 'dev1_pvt',
        'driver': ModbusPVT110,
        'addr': 16
    }
]

# Задержка между полным циклом опроса всех устройств
POLL_DELAY: float = 0.5

# Задержка между опросами каждого прибора в пределах цикла одного опроса
INTER_SENSOR_DELAY: float = 0.25

# Заглушка для генерации случайных данных, вместо реального чтения по железу
USE_MOCK_PROVIDER: bool = False
